{% extends 'base.html' %}
{% block body %}
        <!--====== ABOUT PART START ======-->
    <section id="about-page" class="pt-70 pb-110">
        <div class="container">
            <div class="row">
                <div class="col-lg-12"><br>
                    <div class="section-title mt-50">
                        <h5><u>About us</u></h5>
                        <h2>Welcome to Sunshine </h2>
                    </div> <!-- section title -->
                    <div class="about-cont">
                        <p align="justify">
                            Sunshine Coaching Center is a leading software training institute providing Software Training, Project Guidance and Technology Workshops.<br /> <br />

                            Using our enhanced global software training delivery methodology, innovative software training approach and industry expertise, we provide high-value corporate training services that enable our clients to enhance business performance, accelerate time-to-market, increase productivity and improve customer service.<br /> <br />
                            
                            We serve Global 100 companies and the leading software vendors in Banking & Financial Services, Insurance, Telecommunications, Technology and Media, Information & Education industries.  We design and mentor human resources for our clients who create competitive advantage.
                        </p>
                    </div>
                </div> <!-- about cont -->
            </div> <!-- row --><br>
            <div class="about-items pt-60">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-6 col-sm-10">
                        <div class="about-singel-items mt-30">
                            <h4><u>Our Aims & Objective</u></h4>
                            <p><strong><em>The school aims at imparting that meets the needs of the life and aspirations of the nation, i. e.</em></strong>
                                <ul>
                                    <li>To assimilate the ideals of equality, efficiency and excellence.</li>
                                    <li>To enable with the over growing challenges of life.</li>
                                    <li>To inculcate the strength of character.</li>
                                    <li>To eradicate the evils of Casteism, religious intolerance and superstitions.</li>
                                </ul>
                            </p>
                        </div> <!-- about singel -->
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-10">
                        <div class="about-singel-items mt-30">
                            <h4><u>Our vision</u></h4>
                            <p>“To impart value based quality education by synthesizing the rich ancient Indian heritage with modern Science and Technology”</p>
                        </div> <!-- about singel -->
                    </div>
                </div> <!-- row -->
            </div> <!-- about items -->
        </div> <!-- container -->
    </section><br/> <br/>
{% endblock body %}