{% extends 'base.html' %}
{% block body %}

<div class="container mt-5 mb-5 ">
    <div class="row">
        <div style="border: 1px solid black;" class="p-3">
            <h3 style="text-align: center;">Student Login</h3>
            <form method="post" action="#">
                <div class="mb-3">
                    <label for="studentEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="studentEmail" placeholder="Enter email">
                </div>
                <div class="mb-3">
                    <label for="studentPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="studentPassword" placeholder="Enter password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button><br><br>
            </form>
        </div>
    </div>
</div>


{% endblock body %}